<li id="<%= dom_id(domain) %>"
  <%= highlightable(dom_id(domain, :tools), true) %>
  <%= clickable admin_domain_path(domain) %>   >
  <div class="strip">
    <%= highlight_search_result(domain.code, @current_query[:query]) %>
    <br/>
    <%= highlight_search_result(domain.domain_class, @current_query[:query]) %>
  </div>
  <div class="tools" id="<%= dom_id(domain, :tools) %>" style="display:none;">
    <%= link_to_remote 'Show', {:method => :get, :url => admin_domain_path(domain)}, {:onclick => "event.cancelBubble=true;"} %> |
    <%= link_to_remote 'Edit',
      {:method => :get, :url => edit_admin_domain_path(domain), :condition => "close_previous_crud_form()"},
      {:onclick => "event.cancelBubble=true;" } %> |
    <%= link_to_remote_if domain.removable?, 'Delete',
      {:method=> :delete, :url => admin_domain_path(domain),
       :confirm => 'Are you sure you want to delete the "' + domain.name + '"?'},
       {:onclick => "event.cancelBubble=true;"} %>
  </div>
  <div class="indent">
    <%= highlight_search_result(domain.name, @current_query[:query]) %><br/>
    <%= highlight_search_result(domain.description, @current_query[:query]) %><br/>
  </div>
</li>