<div id="opt-validators">
  <h3 class="titleheader btext">Validators</h3>

  <!--
    <a href="#" id="fValidatorsSelect" class="button positive toolbox-li" style="text-decoration: none;width:120px;" rel="#dlValidators">ADD Validator</a>
  -->
  
  <ul class="validators">
    <!--<li class="validator-inclusion validator" style="display:none">-->
      <!--<div class="validator-title">-->
        <!--<%= check_box_tag "validator[inclusion][enable]" %>-->
        <!--<%= label_tag "validator[inclusion][enable]", "Inclusion" %>-->
      <!--</div>-->
      <!--<div class="validator-content">-->
        <!--<% 3.times do |num| %>-->
            <!--<%= check_box_tag "validator[inclusion][data][#{num}]" %>-->
            <!--<%= text_field_tag "validator[inclusion][data][#{num}]" %>-->
            <!--<%= image_tag "fd/add.png", :class=>"add-btn" %>-->
            <!--<%= image_tag "fd/delete.png", :class=>"del-btn" %>-->
            <!--<br/>-->
        <!--<% end %>-->
        <!--<%= validator_message_tag "validator[inclusion][mesasge]" %>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="validator-acceptance validator" style="display:none">-->
      <!--<div class="validator-title">-->
        <!--<%= check_box_tag "validator[acceptance][enable]" %>-->
        <!--<%= label_tag "validator[acceptance][enable]", "Acceptance" %>-->
      <!--</div>-->
      <!--<div class="validator-content">-->
        <!--<%= validator_message_tag "validator[format][mesasge]" %>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="validator-presence validator" style="display:none">-->
      <!--<div class="validator-title">-->
        <!--<%= check_box_tag "validator[presence][enable]" %>-->
        <!--<%= label_tag "validator[presence][enable]", "Presence" %>-->
      <!--</div>-->
      <!--<div class="validator-content">-->
        <!--<%= validator_message_tag "validator[presence][mesasge]" %>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="validator-dslength validator" style="display:none">-->
      <!--<div class="validator-title">-->
        <!--<%= check_box_tag "validator[dslength][enable]" %>-->
        <!--<%= label_tag "validator[dslength][enable]", "Length" %>-->
      <!--</div>-->
      <!--<div class="validator-content">-->
        <!--<ul id="validator-dslength-options"></ul>-->
        <!--<%= validator_message_tag  "validator[dslength][wrongLengthMessage]", "Wrong length message" %>-->
        <!--<%= validator_message_tag  "validator[dslength][tooShortMessage]", "Too short message" %>-->
        <!--<%= validator_message_tag  "validator[dslength][tooLongMessage]", "Too long message" %>-->
      <!--</div>-->
    <!--</li>-->

  </ul>
</div>
