<div class="ctrlHolder">
    <% if control.type==:section %>
        <%= render :partial => "admin/forms/controls/#{control.type.to_s}f",
                   :locals => {:control=> control }
        %>
    <% else %>
        <%= control_label(control) %>
        <%= render :partial => "admin/forms/controls/#{control.type.to_s}f",
                   :locals => {:control=> control }
        %> <%= render(:partial => "queries/form_view_query", :locals => {:form_field_value => control.field_value }) unless control.field_value.new_record? %>
        <% unless control.description.empty? %>
          <%= icon(:question_frame, :class=>'fieldHint', :title => control.description) %>
        <% end %>

        <%= render :partial => "admin/forms/validation",
                   :locals => {:control => control} %>
    <% end %>
</div>
