<li id="<%= dom_id(@study, dom_id(@site, dom_id(site_user.user)))  %>"
  <%= highlightable(dom_id(@study, dom_id(site_user.user, :tools)), true) %>
  <%= clickable admin_study_site_contact_path(@study, @site, site_user.user) %>   >
  <div class="tools" id="<%=  dom_id(@study, dom_id(site_user.user, :tools)) %>" style="display:none;">
    <%= link_to_remote 'Show', {:method => :get, :url => admin_study_site_contact_path(@study, @site, site_user.user)}, {:onclick => "event.cancelBubble=true;"} %> |
    <%= link_to_remote 'Remove from Study',
       {:method=> :delete, :url => remove_admin_study_site_contact_path(@study, @site, site_user)},
       {:onclick => "event.cancelBubble=true;", :id => dom_id(@site, dom_id(site_user.user, :remove))} %>
  </div>
  <div class="strip<%= "-create" if site_user.user.active %>"><strong>ID:</strong> <%= site_user.user.id %></div>
  <div class="indent">
    <%= highlight_search_result(site_user.user.full_name, @current_query) %>
  </div>
</li>
