<div class="block-container" style="border-color:LimeGreen;">
  <div class="title">Edit <%= h(@cdash_question.variable_name) %> </div>
  <%= link_to_close(edit_admin_domain_cdash_question_path(@domain, @cdash_question)) %>
  <div id="<%= dom_id(@cdash_question) %>" class="input-form crud-form">
  <% remote_form_for [:admin, @domain, @cdash_question], :url => admin_domain_cdash_question_path(@domain, @cdash_question) do |f| %>
    <%= render :partial => "admin/cdash_questions/form", :locals => {:f => f} %>
    <p>
      <%= f.submit "Update" %> or <%= link_to_cancel "cancel", edit_admin_domain_cdash_question_path(@domain, @cdash_question) %>
    </p>
  <% end %>
  </div>
</div>
