<div class="block-container" style="border-color:LimeGreen;">
  <div class="title">Add new Subject</div>
  <%= link_to_close(new_subject_path) %>
  <div id="<%= dom_id_nested(:item, @subject) %>" class="input-form crud-form">
    <% remote_form_for @subject, :url => subjects_path do |f| %>
      <%= render :partial => "form", :locals => {:f => f} %>
      <p>
        <%= f.submit "Create" %> or <%= link_to_cancel "cancel", new_subject_path %>
      </p>
    <% end %>
  </div>
</div>
