<h1>Editing form</h1>

<% form_for(:admin, @form) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :metadata %><br />
    <%= f.text_area :metadata %>
  </p>
  <p>
    <%= f.label :html %><br />
    <%= f.text_area :html %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @form] %> |
<%= link_to 'Back', admin_forms_path %>
